<h3>Logs:</h1>
<!-- <script id="some-template" type="text/x-handlebars-template">  -->
  <table data-toggle="table" id="context" data-toggle="context" data-target="#context-menu">
    <thead>
    <th>Date</th>
    <th>Description</th>
    </thead>
    <tbody>
        {{#each logs as |log|}}
            <tr row-id="{{log.id}}">
                <td class="edit-log">{{log.date}}</td>
                <td class="edit-log">{{log.description}}</td>
            </tr>
        {{/each}}
      </tbody>
    </table>

    <!-- <div class="context" hidden>
      <div class="context_item">
        <div class="inner_item" id="new">
          New
        </div>
      </div>
      <div class="context_item">
        <div class="inner_item" id="edit">
          Edit
        </div>
      </div>
      <div class="context_item">
        <div class="inner_item" id="delete">
          Delete
        </div>
      </div>
      <div class="context_hr"></div>
      <div class="context_item">
        <div class="inner_item" id="display-logs">
          Display Contact Log
        </div>
      </div>
      <div class="context_item">
        <div class="inner_item" id="email-contact">
          Email Contact
        </div>
      </div>
    </div> -->
