<h3>Create Log:</h1>
<!-- <script id="some-template" type="text/x-handlebars-template">  -->
<form id="create-log" >
    <label for="date">Date</label>
    <input name="log[date]" type="text" id="date" value="{{log.date}}"><br/>
    <label for="description">Description</label>
	  <input name="log[description]" type="text" id="description" value="{{log.description}}"><br/>
	  <button id="cancel-log">Cancel</button><button id="save-log">Save</button>
</form>
  <!-- </script> -->
